<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Rhythm Wheel</title>
    <link rel='stylesheet' href='https://unpkg.com/vue-select@latest/dist/vue-select.css'>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css'>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div id="app">
        <b-navbar toggleable="lg" type="dark" variant="dark" fixed class="navbar">

            <b-navbar-brand href="#canvas">
                Rhythm Wheel
                <b-avatar icon="music-note"></b-avatar>
            </b-navbar-brand>
        </b-navbar>

        <b-alert class="alert" v-model="showStateSaved" variant="success" dismissible>
            State saved with success!
        </b-alert>

        <b-alert class="alert" v-model="showRingAdded" variant="success" dismissible>
            Ring added with success!
        </b-alert>

        <b-alert class="alert" v-model="showRandomCreated" variant="success" dismissible>
            Random rhythm created with success!
        </b-alert>

        <!--
          <b-alert
      :show="dismissCountDown"
      dismissible
      variant="success"
      @dismissed="dismissCountDown=0"
      @dismiss-count-down="countDownChanged"
    >
    <h5>State saved with success!</h5>
      <p>This alert will dismiss after {{ dismissCountDown }} seconds...</p>
      <b-progress
        variant="success"
        :max="dismissSecs"
        :value="dismissCountDown"
        height="4px"
      ></b-progress>
    </b-alert>-->

        <div class="buttons-container">
            <b-button variant="outline-info" pill :disabled="!getStatus()" v-on:click="pause()">
                <img class="play-pause-image" src="resources/images/pause--button.png" />
            </b-button>
            <b-button variant="outline-success" pill :disabled="getStatus() == 1" v-on:click="play()">
                <a href="#canvas">
                    <img class="play-pause-image" src="resources/images/play-button-circled.png" />
                </a>
            </b-button>
            <b-button variant="outline-info" pill v-on:click="showNewRings=true; showRandomRings=true;">
                <img class="play-pause-image" src="resources/images/random--button.png" />
            </b-button>
        </div>
        <div class="speed-container">
            <b-form-input class="speed-slider" type="range" v-model="speed" min="1" max="100"></b-form-input>
            <label>RPM : {{speed}}</label>
        </div>
        <div v-if="showNewRings" class="new-container">
            <div class="new-steps" v-if="!showNewInstruments && !showNewColor && !showRandomRings && !showRandomProbability && !showNewState">
                <label>Number of Steps:</label>
                <template>
                    <div>
                        <b-form-spinbutton v-model="selectedSteps" min="1" max="16"></b-form-spinbutton>
                    </div>
                </template>
                <!--<v-select ref="stepsSelector" :options="range(1, numeroMaxSteps, 1)" label="name" class="select" v-model="selectedSteps"></v-select>-->
                <div class="buttons-container">
                    <b-button variant="danger" v-on:click="showNewRings=false; selectedSteps=null">Cancel</b-button>
                    <b-button variant="success" v-on:click="showNewInstruments=true" :disabled="!selectedSteps">Submit</b-button>
                </div>
            </div>
            <div class="new-instrument" v-if="showNewInstruments">
                <label>Instrument:</label>
                <v-select ref="newInstrumentSelector" :options="instruments" label="name" class="select" v-model="selectedNewInstrument"></v-select>
                <div class="buttons-container">
                    <b-button variant="danger" v-on:click="showNewRings=false; showNewInstruments=false; selectedNewInstrument=null; selectedSteps=null;">Cancel</b-button>
                    <b-button variant="success" v-on:click="addNewInstrument(selectedNewInstrument)" :disabled="!selectedNewInstrument">Submit</b-button>
                </div>
            </div>
            <div class="new-color" v-if="showNewColor">
                <label>Color:</label>
                <v-select ref="newColorSelector" :options="colors" label="name" class="select" v-model="selectedNewColor"></v-select>
                <div class="buttons-container">
                    <b-button variant="danger" v-on:click="showNewRings=false; showNewColor=false; selectedNewInstrument=null; selectedSteps=null; selectedNewColor=null;">Cancel</b-button>
                    <b-button variant="success" v-on:click="addRing(selectedSteps, selectedNewInstrument, selectedNewColor); showRingAdded=true" :disabled="!selectedNewColor">Submit</b-button>
                </div>
            </div>

            <div class="new-steps" v-if="showRandomRings">
                <label>Number of Rings:</label>
                <template>
                    <div>
                      <b-form-spinbutton v-model="selectedRandomRings" min="1" max="8"></b-form-spinbutton>
                    </div>
                  </template>
                <!--<v-select ref="stepsSelector" :options="range(1, numeroMaxRings, 1)" label="name" class="select" v-model="selectedRandomRings"></v-select>-->
                <div class="buttons-container">
                    <b-button variant="danger" v-on:click="showNewRings=false; showRandomRings=false; selectedRandomRings=null;">Cancel</b-button>
                    <b-button variant="success" v-on:click="showRandomProbability=true; showRandomRings=false;" :disabled="selectedRandomRings==null">Submit</b-button>
                </div>
            </div>
            <div class="new-steps" v-if="showRandomProbability">
                <label>Random Probability:</label>
                <template>
                    <div>
                        <b-form-spinbutton v-model="selectedRandomProbability" min="0" max="1" step="0.1"></b-form-spinbutton>
                    </div>
                </template>
                <!--<v-select ref="stepsSelector" :options="range(0, 1, 0.01)" label="name" class="select" v-model="selectedRandomProbability"></v-select>-->
                <div class="buttons-container">
                    <b-button variant="danger" v-on:click="showNewRings=false; showRandomProbability=false; selectedRandomRings=null; selectedRandomProbability=null;">Cancel</b-button>
                    <b-button variant="success" v-on:click="randomize(selectedRandomRings, selectedRandomProbability); showNewRings=false; showRandomProbability=false; showRandomCreated=true;" :disabled="selectedRandomRings==null || selectedRandomProbability==null">Submit</b-button>
                </div>
            </div>

            <div class="new-steps" v-if="showNewState">
                <label>State Name:</label>
                <b-form-input type="text" v-model="newStateName"></b-form-input>
                <div class="buttons-container">
                    <b-button variant="danger" v-on:click="showNewRings=false; showNewState=false; newStateName=null;">Cancel</b-button>
                    <b-button variant="success" v-on:click="createNewState(newStateName); showNewRings=false; showNewState=false;" :disabled="newStateName==null">Submit</b-button>
                </div>
            </div>

        </div>
        <div class="menu-container" v-if="!showNewRings">
            <div class="menu-option-container">
                <label>Upload/Save:</label>
                <v-select ref="stateSelector" :options="states" label="name" class="select" v-model="selectedState">
                    <template v-slot:option="option">
                        <div v-if="option.name!='Add New'" class="inside-ring-select">
                        <p>{{option.name}}</p>
                        <b-button variant="outline-danger" class="button-inside-select" pill v-on:click="deleteState($event, option.id)">
                            <!--<img class="image" src="resources/images/external--delete--multimedia--button.png" />-->
                            <img class="image-small" src="resources/images/delete--property.png" />
                        </b-button>
                        </div>
                        <div v-if="option.name=='Add New'" class="inside-ring-select">
                            <strong>Add New</strong>
                            <b-button variant="outline-success" class="button-inside-select" pill v-on:click="showNewRings=true; showNewState=true;">
                                <img class="image-small" src="resources/images/add--button.png" />
                            </b-button>
                        </div>
                      </template>
                </v-select>
                <div class="buttons-container">
                    <b-button variant="outline-info" pill :disabled="selectedState == null" v-on:click="loadState(selectedState.rings)">
                        <!-- <img class="image" src="resources/images/load-download-icon.png" /> -->
                        <a href="#canvas">
                            <img class="image" src="resources/images/download--button.png" />
                        </a>
                    </b-button>
                    <b-button variant="outline-success" pill :disabled="selectedState == null" v-on:click="saveState(selectedState.id); showStateSaved=true">
                        <!--<img class="image" src="resources/images/load2-upload-icon.png" /> -->
                        <img class="image" src="resources/images/save--button.png" />
                    </b-button>
                </div>
                <div v-if="showAddState" class="buttons-container">
                    <b-form-input v-model="stateName" placeholder="State name"></b-form-input>
                    <b-button pill :disabled="stateName == null || stateName.trim() == '' " v-on:click="newState(stateName)">
                        <!--<img class="image" src="resources/images/Graphicloads-Colorful-Long-Shadow-New.ico" />-->
                        <img class="image" src="resources/images/add--property.png" />
                    </b-button>
                </div>
            </div>
            <div class="menu-option-container">
                <label>Ring:</label>
                <v-select :options="range(1, this.rings.length + 1, 1)" class="select" v-model="selectedRing" @input="selectRing(selectedRing)">
                    <template v-slot:option="option">
                        <div v-if="option.label <= rings.length" class="inside-ring-select">
                        <p>{{option.label}}</p>
                        <b-button variant="outline-danger" class="button-inside-select" pill v-on:click="deleteRing($event, option.label - 1)">
                            <img class="image-small" src="resources/images/external--delete--multimedia--button.png"/>
                        </b-button>
                        </div>
                        <div v-if="option.label>rings.length && rings.length<numeroMaxRings" class="inside-ring-select">
                            <strong>Add new</strong>
                            <!--v-on:click="addRing(null, null, null)"-->
                            <b-button variant="outline-success" class="button-inside-select" pill v-if="rings.length<numeroMaxRings"  
                             v-on:click="showNewRings=true">
                                <img class="image-small" src="resources/images/add--button.png" />
                            </b-button>
                        </div>
                      </template>
                </v-select>

                <div class="buttons-container" v-if="!showNewRings">
                    <b-button variant="outline-primary" pill :disabled="!canChangeRingSteps(selectedRing, 0)" v-on:click="changeRingSteps(selectedRing - 1, 0)">
                        <img class="image" src="resources/images/minus--math-button.png" />
                    </b-button>
                    <b-button variant="outline-primary" pill :disabled="!canChangeRingSteps(selectedRing, 1)" v-on:click="changeRingSteps(selectedRing - 1, 1)">
                        <img class="image" src="resources/images/plus--math--button.png" />
                    </b-button>
                </div>

            </div>
            <div class="menu-option-container">
                <label>Instrument:</label>
                <v-select :disabled="selectedRing == null" :options="instruments" label="name" @input="changeRingInstrument(selectedRing - 1, selectedInstrument)" class="select" v-model="selectedInstrument">
                </v-select>
            </div>
            <div class="menu-option-container">
                <label>Color:</label>
                <v-select :disabled="selectedRing == null" :options="colors" @input="changeRingColor(selectedRing - 1, selectedColor)" class="select" v-model="selectedColor">
                </v-select>
            </div>
        </div>
        <div class="canvas-container" @mouseEnter="disableScroll()" @mouseLeave="enableScroll()">
            <canvas ref="myCanvas" id="canvas"></canvas>
        </div>
    </div>
    <script type="module" src="script.js"></script>
</body>

</html>