body {
    background-color: rgb(214, 234, 250);
}

.navbar {
    display: flex;
    justify-content: center;
}

.alert {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.disabled-button {
    cursor: not-allowed;
}

.select {
    width: 200px;
    margin: 10px 20px 0px 20px;
}

.spinbutton {
    width: 100%;
    margin: 10px 0px 0px 0px;
}

label {
    margin-top: 15px;
}

.menu-option-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selected-ring-options {
    display: flex;
    justify-content: space-around;
    border: 0.1px solid #aaa;
    border-radius: 20px;
    background-color: rgb(223, 242, 253);
    margin-top: 2px;
    margin-bottom: 2px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.buttons-and-speed-container {
    background-color: rgb(223, 242, 253);
    border: 0.1px solid #aaa;
    border-radius: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.menu-container {
    display: flex;
    justify-content: center;
    background-color: rgb(223, 242, 253);
    border: 0.1px solid #aaa;
    border-radius: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.canvas-container {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 700px;
    height: 700px;
    left: 50%;
    transform: translate(-50%);
}

button {
    width: fit-content;
    height: fit-content;
    margin: 5px 5px;
}

img {
    width: 40px;
}

label {
    font-size: 18px;
}

.speed-slider {
    -webkit-appearance: none;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    width: 200px;
}

.image {
    width: 2em;
}

.speed-slider:hover {
    opacity: 1;
}

.speed-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #04aa6d;
    cursor: pointer;
}

.speed-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04aa6d;
    cursor: pointer;
}

.speed-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inside-ring-select {
    display: flex;
    justify-content: space-between;
}

.button-inside-select {
    background-color: white;
    border: none;
}

.image-small {
    width: 1.6em;
}

.new-container {
    display: flex;
    justify-content: center;
    margin: 6em 0;
}

.new-steps {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-instrument {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-color {
    display: flex;
    flex-direction: column;
    align-items: center;
}